html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#top {
  height:18%;
}

#logo {
  width: 100%;
  padding-left: 10px;
  margin-top:22px;
}

#main {
  background:#5F259F;
  height: 100%;
}


#main-select-1 img {
  height:290px;
  transition: transform 0.25s;
}

#main-select-1 img:hover{
  transform: scale(1.1);
}

#log {
  -webkit-box-flex: 1;
}


#log,
#input {
  display: block;
}

#launchbutton {
  
}
.inactiveImg{
  opacity: 0.4;
}

.activeImg{
  opacity: 1.0;
  visibility: visible;
}

.hidden {
  visibility: hidden;
}


h1 {
  color: #374048;
  font-family: "Roboto";
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 35px;
  line-height: 40px;
  margin-left: -15px;
}

