html,
body {
  height: 600px;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
#logo {
  height:20%;
}

#logo img{
  height: 50%;
  padding-left: 100px;
  margin-top:10px;
}

#main {
  background:#5F259F;
  height: 70%;
}


#main-select-1 img {
  height:290px;
  transition: transform 0.25s;
}

#main-select-1 img:hover{
  transform: scale(1.1);
}

#main-select-2 img {
  width: 100px;
}

#main-select-3 img {
  height:250px;
}


#log {
  -webkit-box-flex: 1;
}


#log,
#input {
  display: block;
}

#footer {
  height: 20%;
}

.inactiveImg{
  opacity: 0.4;
}

.activeImg{
  opacity: 1.0;
}
